<h2>Your Cart</h2>

{% for item in items %}
<p>
  {{item.product.name}} Qty: {{item.quantity}} Subtotal: {{item.subtotal}}
  <a href="{% url 'add_to_cart' item.product.id %}"> Add to cart </a>
  <a href="{% url 'increase_cart' item.product.id %}">+</a>

  <a href="{% url 'decrease_cart' item.product.id %}">-</a>
  <a href="{% url 'remove_from_cart' item.product.id %}"> Remove </a>
  <a href="{% url 'checkout' %}">Checkout</a>
</p>
{% endfor %}
<h3>Total: {{total}}</h3>

{% for product in products %}
<h3>{{product.name}}</h3>
<p>Price: {{product.price }}</p>

<a href="{% url 'add_to_cart' product.id %}"> Add to Cart </a>

{% endfor %}
